<header class="navbar justify-content-between">
  <nav>
    <ul class="navbar-nav bd-navbar-nav">
      <%-
        include('nav-item', {
          id: 'home',
          href: '/',
          text: 'Home',
        });
      %>
    </ul>
  </nav>

  <% if (username) { %>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <p> Welcome,
          <span class="navbar-greeting-username"><%= username %></span> </p>
      </li>

      <li class="nav-item">
        <a href='./profile' class="profile-text"> My Profile </a>
      </li>

      <li class="nav-item">
        <a class="btn btn-sm btn-warning" href="/logout">
          Logout
        </a>
      </li>
    </ul>
  <% } else { %>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <p>Please Login or Register to continue</p>
        </li>
      </ul>
  <% } %>
</header>
