<!doctype html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="background-image"></div>
  <div class="content">
    <%- include('partials/page-header'); %>

    <div class="container white-box">
      <div>
        <table class="container-fluid table-striped table-responsive table-hover">
          <tr>
            <th> Req ID </th>
            <th> Submitted by </th>
            <th> Student Email </th>
            <th> Subject </th>
            <th> Detailed Question </th>
            <th> Time Submitted </th>
            <th> Time Accepted </th>
            <th> Action </th>
          </tr>
          <% for (var i=0; i < requests.length; i++) { %>
            <form class="container" method="POST" action="/accepted-requests">
              <tr>
                <td> <input id="reqId" name="reqId" readonly="true" value="<%= requests[i].reqId %>"> </td>
                <td> <input id="studentUsername" readonly="true" value="<%= requests[i].studentUsername %>"> </td>
                <td> <textarea rows="2" cols="20" wrap="hard" id="studentEmail" readonly="true"> <%= requests[i].studentEmail %> </textarea> </td>
                <td> <input id="subject" readonly="true" value="<%= requests[i].subject %>"> </td>
                <td> <textarea rows="2" cols="20" wrap="hard" id="question" readonly="true"> <%= requests[i].question %> </textarea> </td>
                <td> <textarea rows="2" cols="20" wrap="hard" id="timeSub" readonly="true"> <%= requests[i].time %> </textarea> </td>
                <td> <textarea rows="2" cols="20" wrap="hard" id="timeAcp" readonly="true"> <%= requests[i].acceptedTime %> </textarea> </td>
                <td> <button type="submit" class="btn btn-warning"> Rate </button> </td>
              </tr>
            </form>
          <% } %>
        </table>
      </div>
    </div>
  </div>

</body>

</html>
