<!doctype html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="background-image"></div>
  <div class="content">
    <%- include('partials/page-header'); %>
    <div class="jumbotron">
      <h1 class="display-3 font-weight-bolder">Tutor Now</h1>
      <p class="lead font-weight-bold">
        Unique platform for Students and Tutors for One on One sessions.
      </p>
    </div>
    <div class="btn-wd btn-group-vertical">
      <button type="button" class="btn btn-primary btn-round" onclick="location.href='/login'"> Login </button>
      <button type="button" class="btn btn-secondary btn-round" onclick="location.href='/register'"> Register </button>
    </div>

  </div>

</body>

</html>
