<!doctype html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="background-image"></div>
  <div class="content">
    <%- include('partials/page-header'); %>
    <div class="centre-login">
      <form class="container" method="POST" action="/login">
        <h1>Login</h1>

        <% if (formError) { %>
        <div class="row">
          <p class="col-12 text-danger">
            <%= formError %>
          </p>
        </div>
        <% } %>

        <div class="row">
          <div class="form-group col-12 col-md-6">
            <label for="username">Username</label>
            <input id="username" class="form-control" name="username" type="text" value="<%= formValues.username %>" />
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12 col-md-6">
            <label for="password">Password</label>
            <input id="password" class="form-control" name="password" type="password"
              value="<%= formValues.password %>" />
          </div>
        </div>

        <div class="row">
          <div class="form-controls col-12">
            <button class="btn btn-success" type="submit">Login</button>
          </div>
        </div>

        <div class="row">
          <p> Forgot Password </p>
        </div>
        <div class="row">
          <p> <a href="./register"> New User Register </a></p>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
