<!doctype html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="background-image"></div>
  <div class="content">
    <%- include('partials/page-header'); %>
    <div class="col-8 sel-p">
      <form class="container" method="POST" action="/profile">

        <div class="form-row">
          <div class="col">
            <label for="fullname">Full Name(*)</label>
            <input required type="text" class="form-control" id="fullname" name="fullname" placeholder="Full Name"
              value="<%= formValues.fullname %>">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email(*)</label>
            <input type="email" class="form-control" id="inputEmail4" name="inputEmail4" placeholder="Email"
              value="<%= formValues.inputEmail4 %>" readonly="true">
          </div>
          <div class="form-group col-md-6">
            <label for="username">Username(*)</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
              value="<%= formValues.username %>" readonly="true">
          </div>
        </div>

        <% if (titlexx === 'student') { %>

        <div id="student-form">
          <div class="form-group">
            <label for="dob">Date of Birth(*)</label>
            <input type="date" class="form-control" id="dob" name="dob" value="<%= formValues.dob %>" readonly="true">
          </div>
          <div class="form-group">
            <label for="educationStu">Education Level(*)</label>
            <select class="form-control dropdown" id="educationStu" name="educationStu" value="<%= formValues.educationStu %>">
                <option value="" disabled="disabled">-- select one --</option>
                <option value="Primary education">Primary education</option>
                <option value="Secondary education">Secondary education or high school</option>
                <option value="GED">GED</option>
                <option value="Vocational qualification">Vocational qualification</option>
                <option value="Bachelor degree">Bachelor's degree</option>
                <option value="Master degree">Master's degree</option>
                <option value="Doctorate or higher">Doctorate or higher</option>
            </select>
          </div>
        </div>

        <script>
          document.getElementById("educationStu").value = "<%= formValues.educationStu %>";
        </script>

        <% } else if (titlexx === 'tutor') { %>

        <div id="tutor-form">
          <div class="form-group">
            <label for="educationTut">Educational Qualification(*)</label>
            <select class="form-control dropdown" id="educationTut" name="educationTut">
                <option value="" selected="selected" disabled="disabled">-- select one --</option>
                <option value="Primary education">Primary education</option>
                <option value="Secondary education">Secondary education or high school</option>
                <option value="GED">GED</option>
                <option value="Vocational qualification">Vocational qualification</option>
                <option value="Bachelor degree">Bachelor's degree</option>
                <option value="Master degree">Master's degree</option>
                <option value="Doctorate or higher">Doctorate or higher</option>
              </select>
          </div>

          <div class="form-group">
            <label for="speciality">Speciality Subjects(*)</label>
            <select id="speciality" class="form-control" name="speciality"
              value="<%= formValues.speciality %>">
              <option disabled value="selectsubject" selected>Please Select</option>
              <option value="physics">Physics</option>
              <option value="chemistry">Chemistry</option>
              <option value="math">Math</option>
              <option value="biology">Biology</option>
            </select>
          </div>
        </div>

        <script>
          document.getElementById("educationTut").value = "<%= formValues.educationTut %>";
          document.getElementById("speciality").value = "<%= formValues.speciality %>";
        </script>

        <% } %>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCountry">Country(*)</label>
            <select id="inputCountry" class="form-control" name="inputCountry" value="<%= formValues.inputCountry %>">
              <option value="selectcountry" disabled>Please Select</option>
              <option value="CA">Canada</option>
              <option value="US">United States</option>
            </select>
          </div>

          <div class="form-group col-md-6">
            <label for="inputState">State(*)</label>
            <select id="inputState" class="form-control" name="inputState" value="<%= formValues.inputState %>">
              <option value="selectstate" disabled>Please Select</option>
              <option value="AB">Alberta</option>
              <option value="BC">British Columbia</option>
              <option value="MB">Manitoba</option>
              <option value="NB">New Brunswick</option>
              <option value="NL">Newfoundland and Labrador</option>
              <option value="NS">Nova Scotia</option>
              <option value="ON">Ontario</option>
              <option value="PE">Prince Edward Island</option>
              <option value="QC">Quebec</option>
              <option value="SK">Saskatchewan</option>
              <option value="NT">Northwest Territories</option>
              <option value="NU">Nunavut</option>
              <option value="YT">Yukon</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="DC">District Of Columbia</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>

            <script>
              document.getElementById("inputState").value = "<%= formValues.inputState %>";
              document.getElementById("inputCountry").value = "<%= formValues.inputCountry %>";
            </script>

          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-danger" onclick="location.href='/'">Cancel</button>
      </form>
    </div>
  </div>
</body>

</html>
