<!doctype html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="background-image"></div>
  <div class="content">
    <%- include('partials/page-header'); %>
    <div class="col-8 sel-p">
      <form class="container" method="POST" action="/register">
        <div>
          <h1> Who are you? (*) </h1>
        </div>
        <div class="form-row">
          <select required id="whoareyou" name="whoareyou" class="form-control" value="<%= formValues.whoareyou %>">
            <option disabled value="" selected>Please Select</option>
            <option value="student">Student</option>
            <option value="tutor">Tutor</option>
          </select>
          <% if (formErrors.whoareyou) { %>
          <small class="form-text text-danger">
            <%= formErrors.whoareyou %>
          </small>
          <% } %>
        </div>

        <script>
          let selector = document.getElementById("whoareyou");

          selector.addEventListener('change', () => {

            if (selector.value === 'student') {
              document.getElementById("tutor-form").classList.add('hidden');
              document.getElementById("student-form").classList.remove('hidden');
            } else if (selector.value === 'tutor') {
              document.getElementById("tutor-form").classList.remove('hidden');
              document.getElementById("student-form").classList.add('hidden');
            }
          });
        </script>

        <div class="form-row">
          <div class="col">
            <label for="fullname">Full Name(*)</label>
            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Full Name"
              value="<%= formValues.fullname %>">
            <% if (formErrors.fullname) { %>
            <small class="form-text text-danger">
              <%= formErrors.fullname %>
            </small>
            <% } %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email(*)</label>
            <input type="email" class="form-control" id="inputEmail4" name="inputEmail4" placeholder="Email"
              value="<%= formValues.inputEmail4 %>">
            <% if (formErrors.inputEmail4) { %>
            <small class="form-text text-danger">
              <%= formErrors.inputEmail4 %>
            </small>
            <% } %>
          </div>
          <div class="form-group col-md-6">
            <label for="username">Username(*)</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
              value="<%= formValues.username %>">
            <% if (formErrors.username) { %>
            <small class="form-text text-danger">
              <%= formErrors.username %>
            </small>
            <% } %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="password">Password(*)</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password"
              value="<%= formValues.password %>">
            <% if (formErrors.password) { %>
            <small class="form-text text-danger">
              <%= formErrors.password %>
            </small>
            <% } %>
          </div>
          <div class="form-group col-md-6">
            <label for="verifypassword">Verify Password(*)</label>
            <input type="password" class="form-control" id="verifypassword" name="verifypassword"
              placeholder="Verify Password" value="<%= formValues.verifypassword %>">
            <% if (formErrors.verifypassword) { %>
            <small class="form-text text-danger">
              <%= formErrors.verifypassword %>
            </small>
            <% } %>
          </div>
        </div>
        <div class="hidden" id="student-form">
          <div class="form-group">
            <label for="dob">Date of Birth(*)</label>
            <input type="date" class="form-control" id="dob" name="dob" value="<%= formValues.dob %>">
            <% if (formErrors.dob) { %>
            <small class="form-text text-danger">
              <%= formErrors.dob %>
            </small>
            <% } %>
          </div>
          <div class="form-group">
            <label for="educationStu">Education Level(*)</label>
            <select class="form-control dropdown" id="educationStu" name="educationStu">
                <option value="" selected="selected" disabled="disabled">-- select one --</option>
                <option value="Primary education">Primary education</option>
                <option value="Secondary education">Secondary education or high school</option>
                <option value="GED">GED</option>
                <option value="Vocational qualification">Vocational qualification</option>
                <option value="Bachelor degree">Bachelor's degree</option>
                <option value="Master degree">Master's degree</option>
                <option value="Doctorate or higher">Doctorate or higher</option>
            </select>
            <% if (formErrors.educationStu) { %>
              <small class="form-text text-danger">
                <%= formErrors.educationStu %>
              </small>
            <% } %>
          </div>
        </div>
        <div class="hidden" id="tutor-form">
          <div class="form-group">
            <label for="educationTut">Educational Qualification(*)</label>
            <select class="form-control dropdown" id="educationTut" name="educationTut">
                <option value="" selected="selected" disabled="disabled">-- select one --</option>
                <option value="Primary education">Primary education</option>
                <option value="Secondary education">Secondary education or high school</option>
                <option value="GED">GED</option>
                <option value="Vocational qualification">Vocational qualification</option>
                <option value="Bachelor degree">Bachelor's degree</option>
                <option value="Master degree">Master's degree</option>
                <option value="Doctorate or higher">Doctorate or higher</option>
              </select>
              <% if (formErrors.educationTut) { %>
                <small class="form-text text-danger">
                  <%= formErrors.educationTut %>
                </small>
              <% } %>
          </div>
          <div class="form-group">
            <label for="speciality">Speciality Subjects(*) <small> Tutor can have only 1 speciality </small></label>
            <select id="speciality" class="form-control" name="speciality"
              value="<%= formValues.speciality %>">
              <option disabled value="selectsubject" selected>Please Select</option>
              <option value="physics">Physics</option>
              <option value="chemistry">Chemistry</option>
              <option value="math">Math</option>
              <option value="biology">Biology</option>
            </select>
            <% if (formErrors.speciality) { %>
            <small class="form-text text-danger">
              <%= formErrors.speciality %>
            </small>
            <% } %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCountry">Country(*)</label>
            <select id="inputCountry" class="form-control" name="inputCountry" value="<%= formValues.inputCountry %>">
              <option value="selectcountry" selected>Please Select</option>
              <option value="CA">Canada</option>
              <option value="US">United States</option>
            </select>
            <% if (formErrors.inputCountry) { %>
            <small class="form-text text-danger">
              <%= formErrors.inputCountry %>
            </small>
            <% } %>
          </div>

          <script>
            let country = document.getElementById("inputCountry");

            country.addEventListener('change', () => {

              if (country.value === 'CA') {
                document.getElementById("usa").classList.add('hidden');
                document.getElementById("canada").classList.remove('hidden');
              } else if (country.value === 'US') {
                document.getElementById("usa").classList.remove('hidden');
                document.getElementById("canada").classList.add('hidden');
              }
            });
          </script>

          <div class="form-group col-md-6 hidden" id="canada">
            <label for="inputStateCa">State(*)</label>
            <select id="inputStateCa" class="form-control" name="inputStateCa">
              <option value="selectstate" selected>Please Select</option>
              <option value="AB">Alberta</option>
              <option value="BC">British Columbia</option>
              <option value="MB">Manitoba</option>
              <option value="NB">New Brunswick</option>
              <option value="NL">Newfoundland and Labrador</option>
              <option value="NS">Nova Scotia</option>
              <option value="ON">Ontario</option>
              <option value="PE">Prince Edward Island</option>
              <option value="QC">Quebec</option>
              <option value="SK">Saskatchewan</option>
              <option value="NT">Northwest Territories</option>
              <option value="NU">Nunavut</option>
              <option value="YT">Yukon</option>
            </select>
            <% if (formErrors.inputStateCa) { %>
            <small class="form-text text-danger">
              <%= formErrors.inputStateCa %>
            </small>
            <% } %>
          </div>

          <div class="form-group col-md-6 hidden" id="usa">
            <label for="inputStateUs">State(*)</label>
            <select id="inputStateUs" class="form-control" name="inputStateUs">
              <option value="selectstate" selected>Please Select</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="DC">District Of Columbia</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
            <% if (formErrors.inputStateUs) { %>
            <small class="form-text text-danger">
              <%= formErrors.inputStateUs%>
            </small>
            <% } %>
          </div>

        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </div>
</body>

</html>
