<!doctype html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="background-image"></div>
  <div class="content">
    <%- include('partials/page-header'); %>

    <div class="container dash-high">
      <div class="container centre-login">
        <form class="container" method="POST" action="/request-tutor">
          <div class="row">
            <div class="col">
              <label for="topicForHelp">Help Required in?(*)</label>
              <select id="topicForHelp" class="form-control" name="topicForHelp">
                <option disabled value="selectsubject" selected>Please Select</option>
                <option value="physics">Physics</option>
                <option value="chemistry">Chemistry</option>
                <option value="math">Math</option>
                <option value="biology">Biology</option>
              </select>
              <% if (formErrors.topicForHelp) { %>
              <small class="form-text text-danger">
                <%= formErrors.topicForHelp %>
              </small>
              <% } %>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="description">Description(*)</label>
              <textarea rows="4" cols="50" id="description" class="form-control" name="description"
                placeholder="Description of your Question?"></textarea>
              <% if (formErrors.description) { %>
              <small class="form-text text-danger">
                <%= formErrors.description %>
              </small>
              <% } %>
            </div>
          </div>
          <br />
          <button type="submit" class="btn btn-info btn-lg rounded-pill"> Submit </button>
          <button type="button" class="btn btn-danger btn-lg rounded-pill" onclick="location.href='/'"> Cancel </button>
          <button type="button" class="btn btn-dark float-right btn-lg rounded-pill" onclick="location.href='/tutorSearch'"> Advanced Tutor Search </button>
        </form>
      </div>
    </div>
  </div>

</body>

</html>
