<!doctype html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="background-image"></div>
  <div class="content">
    <%- include('partials/page-header'); %>

    <div class="container dash-high">
      <div class="container centre-tutor">
        <form class="container" method="POST" action="/tutorSearch">
          <div class="row">
            <div class="col">
              <label for="topicForHelp">Help Required in?(*)</label>
              <select id="topicForHelp" class="form-control" name="topicForHelp" value="<%= formvalues.topicForHelp %>">
                <option disabled value="selectsubject" selected>Please Select</option>
                <option value="physics">Physics</option>
                <option value="chemistry">Chemistry</option>
                <option value="math">Math</option>
                <option value="biology">Biology</option>
              </select>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-info btn-lg rounded-pill"> Search </button>
            </div>
          </div>
        </form>
      </div>

      <div class="container white-box">
        <div>
          <table class="container-fluid table-striped table-hover">
            <tr>
              <th> Tutor Name </th>
              <th> Tutor Email </th>
              <th> Qualification </th>
              <th> Specialization </th>
            </tr>
            <% for (var i=0; i < tutors.length; i++) { %>
              <form class="container" method="POST" action="/history">
                <tr>
                  <td> <input id="tutorName" name="reqId" readonly="true" value="<%= tutors[i].name %>"> </td>
                  <td> <textarea rows="2" cols="20" wrap="hard" id="tutorEmail" readonly="true"> <%= tutors[i].email %> </textarea> </td>
                  <td> <input id="tutorEducation" readonly="true" value="<%= tutors[i].education %>"> </td>
                  <td> <input id="tutorSpeciality" readonly="true" value="<%= tutors[i].speciality %>"> </td>
                </tr>
              </form>
            <% } %>
          </table>
        </div>
      </div>

    </div>
  </div>

</body>

</html>
