<!doctype html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="background-image"></div>
  <div class="content">
    <%- include('partials/page-header'); %>

    <div class="container dash-high">
      <h1> Welcome, <%= username %> </h1>
      <div class="row align-items-center dash-high">
        <div class="col">
          <button type="button" class="btn btn-primary btn-lg btn-dash rounded-pill"
            onclick="location.href='/new-requests'"> New Requests </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn-lg btn-dash rounded-pill"
            onclick="location.href='/accepted-requests'"> Accepted Requests </button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
