html,
body {
  min-height: 100vh;
}
.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url('./books.jpg');
  background-size: cover;
  height: 100%;
  background-position: center;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-size: cover;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
}

.jumbotron-c {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  /* color: #2e4057; */
  border-radius: 0.3rem;
  font-size: 50px;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  /* background-color: #03386d; */
  border-radius: 0.3rem;
  /* mix-blend-mode: difference; */
}

.hidden {
  display: none;
}

.btn-wd {
  width: 20%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sel-p {
  margin: auto;
}

.white-box {
  margin: auto;
  background-color: white;
  height:auto;
  min-height:80%;
  min-width: 80%;
  width:auto;
}

.centre-login{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
}

.profile-text {
  color: white;
  text-decoration: underline;
}

.form-wd {
  width:100%;
  margin: 0 auto;
}

.dash-high {
  height: 100%;
}

.btn-round {
  border-radius: 12px;
}

.btn-dash {
  width:100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: auto;
  max-width: 100%;
}

.navbar {
  background-color: #2e4057;
  color: white;
}

.centre-tutor {
  margin: auto;
}

.navbar h1 {
  margin-bottom: 0;
}

.navbar-nav {
  flex-direction: row;
}

.nav-item:not(:last-of-type) {
  margin-right: 1rem;
}

.nav-link {
  color: #fff;
  transition: color .2s linear;
}

.nav-link:hover {
  color: #ccc;
}

.nav-link.active {
  opacity: .6;
  color: #aaa;
}

.navbar-authenticated {
  display: flex;
  align-items: center;
}

.navbar-authenticated a {
  margin-left: 1rem;
}

.navbar-greeting {
  margin-bottom: 0;
}

.navbar-greeting-username {
  font-style: italic;
}


.main-footer {
  margin-top: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f1f1f1;
}

.main-footer a {
  font-weight: bold;
}
